<mat-sidenav-container class="h-screen w-full">
  <mat-sidenav
    #sidenav
    [opened]="sidebarOpened"
    mode="over"
    position="start"
    (closed)="closeSidebar()"
    class="custom-sidebar"
  >
    <div class="sidebar-header">
      <button mat-icon-button (click)="closeSidebar()">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <mat-nav-list>
      <mat-list-item
        *ngFor="let item of menuItems"
        (click)="navigateTo(item.route)"
        class="menu-item"
      >
        <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
        <span matListItemTitle>{{ item.label }}</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="h-screen w-full">
    <div class="flex flex-col h-full w-full">
      <!-- Header -->
      <div class="bg-white relative z-49 flex h-16 items-center px-4 shadow sm:h-20 md:px-6 flex-shrink-0">
        <div class="mx-2 flex items-center lg:mr-8">
          <img class="w-24" src="images/erp/boa_logo_blue.png" alt="BoA Logo" />
        </div>
        <button mat-icon-button (click)="toggleSidebar()" class="ml-auto">
          <mat-icon>menu</mat-icon>
        </button>
      </div>

      <!-- Contenido principal -->
      <div class="flex-1 overflow-auto">
        <router-outlet></router-outlet>
      </div>

      <!-- Footer -->
      <div class="bg-white relative z-49 flex h-14 items-center border-t px-4 sm:h-20 md:px-6 flex-shrink-0">
        <span class="text-gray-600 font-medium">
          Erp BoA &copy; {{ currentYear }} Boliviana de Aviación - Todos los derechos reservados
        </span>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>