<!-- Loading bar -->
<erp-loading-bar></erp-loading-bar>

<mat-sidenav-container class="h-screen w-full">
  <mat-sidenav
    #sidenav
    [opened]="sidebarOpened"
    mode="over"
    position="start"
    (closed)="closeSidebar()"
    class="custom-sidebar"
  >
    <div class="sidebar-header">
      <button mat-icon-button (click)="closeSidebar()">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <mat-nav-list>
      <mat-list-item
        *ngFor="let item of menuItems"
        (click)="navigateTo(item.route)"
        class="menu-item"
      >
        <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
        <span matListItemTitle>{{ item.label }}</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="h-screen w-full">
    <div class="flex flex-col h-full w-full">
      <!-- Header -->
      <div class="bg-card relative z-49 flex h-16 w-full flex-0 items-center px-4 shadow dark:border-b dark:bg-transparent dark:shadow-none sm:h-20 md:px-6 print:hidden">
        <!-- Logo -->
        <div class="mx-2 flex items-center lg:mr-8">
          <div class="hidden lg:flex">
            <img class="w-24 dark:hidden" src="images/erp/boa_logo_blue.png" alt="BoA Logo" />
            <img class="hidden w-24 dark:flex" src="images/erp/boa_logo_white.png" alt="BoA Logo" />
          </div>
        </div>

        <!-- Navigation toggle button -->
        <button mat-icon-button (click)="toggleSidebar()">
          <mat-icon>menu</mat-icon>
        </button>

        <!-- Components -->
        <div class="ml-auto flex items-center space-x-0.5 pl-2 sm:space-x-2">
          <languages></languages>
          <erp-fullscreen class="hidden md:block"></erp-fullscreen>
          <search [appearance]="'bar'"></search>
          <scheme></scheme>
          <theme></theme>
          <notifications></notifications>
          <user></user>
        </div>
      </div>

      <!-- Content -->
      <div class="flex w-full flex-auto flex-col">
        @if (true) {
          <router-outlet></router-outlet>
        }
      </div>

      <!-- Footer -->
      <div class="bg-card relative z-49 flex h-14 w-full flex-0 items-center border-t px-4 dark:bg-transparent sm:h-20 md:px-6 print:hidden">
        <span class="text-secondary font-medium">
          Erp BoA &copy; {{ currentYear }} Boliviana de Aviación - Todos los derechos reservados
        </span>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>