Wrapped entire component with sidebar 
<app-sidebar [opened]="sidebarOpened" (closeSidebar)="closeSidebar()">
  <div class="dashboard-container">
     Added hamburger menu button to header 
    <mat-toolbar color="primary" class="dashboard-header">
      <div class="header-content">
        <div class="header-left">
          <button mat-icon-button (click)="toggleSidebar()" class="menu-button">
            <mat-icon>menu</mat-icon>
          </button>
          <mat-icon class="header-icon">dashboard</mat-icon>
          <div class="header-text">
            <h1>Dashboard de Operador</h1>
            <p>Sistema de gestión de reclamos PIR</p>
          </div>
        </div>
        <div class="header-right">
          <button mat-icon-button>
            <mat-icon>notifications</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon>account_circle</mat-icon>
          </button>
        </div>
      </div>
    </mat-toolbar>

    <div class="dashboard-content">
    </div>
  </div>
</app-sidebar>
